body {
  background-color: #212121;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color:#fff;
}

#body {
  margin: 0 auto;
  position: relative;
}

#header {
  font-size: 40px;
  font-weight: bold;
  top: 20px;
  text-align: center;
}

.legend {
  position: absolute;
  top: 0px;
  right: 0;
  width: 330px;
  font-size: 11px;
  color: #fff;
}

.node {
  cursor: pointer;
}

.node circle {
  cursor: pointer;
  fill: #1976D2;
  stroke: #29B6F6;
  stroke-width: 1.5px;
}

.node text {
  font-size: 12px;
  fill: white;
}

path.link {
  fill: none;
  stroke: #4b5563;
  stroke-width: 1px;
}
