body {
  background-color: #010101;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color:#fff;
}

#body {
  margin: 0 auto;
  position: relative;
}

#header {
  font-size: 18px;
  font-weight: bold;
  top: 0px;
  left: 0px;
  text-align: left;
  margin: 0px 180px;
  padding: 5px;
}

.sat_icon {
  width: 1.75rem;
  margin: 0.25rem;
  vertical-align: middle;
}

.legend {
  position: fixed;
  bottom: 0px;
  right: 0;
  width: 330px;
  font-size: 11px;
  color: #333;
  padding:3px 20px;
  margin: 1rem;
}

.node {
  cursor: pointer;
}

.node circle {
  cursor: pointer;
  fill: #1E88E5;
  stroke: #29B6F6;
  stroke-width: 1.5px;
}

.node text {
  font-size: 12px;
  fill: white;
}

path.link {
  fill: none;
  stroke: #4b5563;
  stroke-width: 1px;
}
